[submodule "externals/CSApp"]
	path = external/CSApp
	url = git@github.com:mpetri/benchmark-suffix-array.git
[submodule "externals/r-index"]
	path = external/r-index
	url = git@github.com:nicolaprezza/r-index.git
[submodule "externals/sux"]
	path = external/sux
	url = git@github.com:vigna/sux.git
[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = git@github.com:simongog/sdsl-lite.git
